.foo {
  margin: 60px auto;
  width: 80%;

  @media screen and (min-width: 500px) {
    width: 40%;
  }

}

h1, label {
  font-family: 'Arvo', serif;
  color: white;
}

select {
  outline: none;
}

@import "css/form";