@font-face {
  font-family: 'MyFont';
  src: url('./ModernDOS8x8.ttf') format('ttf'),
  url('./ModernDOS8x14.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  /*background: url("./icon.gif");*/
  font-family: 'MyFont';
}
